.ServiceCardMain {
	background-color: #ffffff;
	margin-bottom: 30px;
	// height: 250px;
	border-radius: 5px;
	transition: box-shadow 0.5s;
	.ServiceCardMain__container {
		padding: 30px;
		svg {
			fill: #ff9900;
			font-size: 42px;
		}
		.ServiceCardMain__container__title {
			font-size: 17px;
			margin: 10px 0px;
		}
		p {
			font-weight: 400;
		}
		a {
			color: purple;
			font-weight: 500;
			font-size: 13px;
		}
	}

	&:hover {
		transition: box-shadow 0.5s;
		box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.1);
	}
}
