.footer {
  color: #000;
  font-family: "Comic Sans MS";
  background-color: #e4eeff;
  .footer__headContent {
    border-top: 0.1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 0.1px solid rgba(255, 255, 255, 0.3);
    height: 180px;
    display: flex;
    align-items: center;
    @media only screen and (max-width: 992px) {
      height: auto;
      padding: 2rem 0rem;
    }
    .footer__headContent_info {
      h4 {
        font-size: 16px;
        text-transform: uppercase;
        margin-bottom: 0px;
      }
      p {
        text-transform: capitalize;
        font-weight: normal;
        font-size: 13px;
        color: #000;
      }
    }
    .footer__headContent_info__IconMain {
      p {
        text-transform: capitalize;
        font-weight: normal;
        font-size: 13px;
        color: #000;
      }
    }
  }
  .footer__socialIcon {
    padding: 1rem 0;
    @media only screen and (max-width: 992px) {
      text-align: center;
    }
    span {
      margin: 0px 5px;
      a {
        svg {
          color: #4a4a4a;
        }
      }
    }
  }
  .footer__Contact {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: 992px) {
      display: block;
    }
    .footer__option {
      color: #4a4a4a;
      @media only screen and (max-width: 992px) {
        text-align: center;
      }
      a {
        // color: #000;
        margin: 0px 5px;
        font-size: 12px;
      }
    }
    .footer__Contact__Content {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #4a4a4a;
      p {
        font-size: 13px;
        margin: 0px 10px 0px 5px;
        // color: #000;
        font-weight: 100;
      }
    }
  }
}
