// smart sticky header
#menu_wrapper {
  position: sticky;
  top: -1px;
  transition: 0.2s ease-out;
  &.isSticky {
    z-index: 9999;
    .custom_menu {
      background-color: #eef3fe !important;
    }
  }
}

.custom_menu {
  .container {
    .menu_wrapper {
      display: flex;
      align-items: center;
      list-style: none;
      text-decoration: none;
      margin: 0;
      @media screen and (max-width: 991px) {
        flex-direction: column !important;
      }
      li {
        @media screen and (max-width: 991px) {
          margin: 15px 0 !important;
        }
        .nav_list {
          margin: 0 40px;
          color: #000;
          font-size: 16px;
          text-transform: capitalize;
        }
      }
    }
  }
}
