.align-items-center {
  .aboutImg_Wrapper {
    @media screen and (max-width: 767px) {
      display: flex !important;
      justify-content: center !important;
      width: 100%;
    }
    @media screen and (max-width: 500px) {
    }
    img.about_img {
      @media screen and (max-width: 767px) {
        width: 40% !important;
        height: auto !important;
        margin: 0 auto !important;
      }
    }
  }
}
