.serviceMain {
  background-color: #eef3ff;
  padding: 20px 0px;
  .serviceMain__service {
    text-align: center;
    // padding-top: 40px;
    font-weight: bold;
  }
  .serviceMain__title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
    font-weight: bold;
  }
  .serviceMain__content {
  }
}
