.contact_info {
  padding: 50px 0;
  background: linear-gradient(90deg, #0f0330, #110833);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}
